
.h1 {
    font-family: 'Jura';
    color:blue;
    text-align: center;

}
.contenedor {
    width: 200px;
    border: 1px solid grey;
    border-radius: 5px;
    float:left;
    text-align:center;
    margin-left: 20px;
    padding: 50px;
    font-family: 'Jura';
    font-size: 25px;
    box-shadow: 5px 5px 5px #ccc;
}

.cnt1 {
    height: 200px;

}

.cnt2 {
    width: 500px;
    
}